[submodule "spring-boot-rocketmq-consumer"]
	path = spring-boot-rocketmq-consumer
	url = https://github.com/WeisonWei/spring-boot-rocketmq-consumer.git
[submodule "spring-boot-rocketmq-producer"]
	path = spring-boot-rocketmq-producer
	url = https://github.com/WeisonWei/spring-boot-rocketmq-producer.git
